body{
    background-image: url(images/R6.jpeg);
    height: 98vh;
}

.titre{
    display: flex;
    justify-content: center;
    color: white;
}

.resume,.avantage,.point_faible{
    display: flex;

}
 
.resume h2 ,.avantage h2, .point_faible h2{
    text-align: center; 
}

.resume p ,.avantage p, .point_faible p{
    padding: 3px 10px;
    line-height: 30px;
    text-align: center;
}

.resume_note, .avantage_note,.point_faible_note{
    background-color: transparent;
    height: 350px;
    width: 350px;
    border-radius: 0px;
    border: 2px solid whitesmoke;
    color: white;
}

 
.separation{
    background-color: gray;
    border: none;
    padding: 1px;
    width: 100%;
}

.tab2{
    display: flex;
    height: 40%;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.tab3{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 600px;

}

.info_jeu{
    display: flex;
    align-self: flex-end;
    width:60%;
    height:200px;
    border-radius: 0px;
    border: 2px solid whitesmoke;
}

.image{
    height: 200px;
    width: 202px;
}
.container {
    position: relative;
    width: 50%;
    max-width: 300px;
  }
  
  
  .overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1;
    width: 54%;
    height: 80%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }

  .platforme{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
  }