/*body{
    background-image: url(img/Seattle.jpg);
}
*/

body,html{
    padding:0;
    margin:0;
}

#titre{
    display: flex;
    justify-content: center;
    font-size: 80px;
    color: rgb(218, 218, 218);
    font-family:"Headliner No. 45";
    z-index: 2;
}


.head{
    display:flex;
    justify-content: center;
    align-items: center;
    height:15%;
    width: 100%;
}

.video2{
    display: flex;
    justify-content: center;
    z-index: 2;
    margin-left: 40%;
    width: 20%;
}

#video{
    width: 300px;
}

.box{
    display: flex;
    justify-content: center;

}

.resume{
    text-align: center;
    padding: 0.5em;
    background-color: rgba(101, 100, 100, 0.3);
    width: 50%;
    margin-top: 50px;
    z-index: 2;
}

/*.Btn1{
    display: flex;
    margin-top: 100px;
    height: 25px;
    background-color: gray;
}*/

.d1{
    width: 100vw;
    height: 100vh;
    background-color: #EDEDED;
    background-size: contain;
    animation: fondu 10s ease-in-out infinite both;
    z-index: 1;
/*   background-repeat: no-repeat;*/
}

.d1:hover{
    animation-play-state: paused;
}

@keyframes fondu{
    0%{background-image: url(img/SeattleCenter.jpeg);}
    33.33%{background-image: url(img/Ville.jpg);}
    66.67%{background-image: url(img/Scar.jpg);}
    100%{background-image: url(img/JacksonVille.jpg);}
}

.icones{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.img2{
    width: 70px;
    margin-right: 50px;
}

.img3{
    width: 70px;
}

.sidepanel{
    width: 0;
    position: fixed;
    z-index: 1;
    height: 250px;
    top: 0;
    left: 0;
    background-color: black;
    overflow: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidepanel a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidepanel a:hover{
    color: #f1f1f1;
}

.sidepanel .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.openbtn{
    position: absolute;
    margin-left: -45%;
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover{
    background-color: #444;
}
