body {
    margin: 0;
    padding: 0;
    background-image: url("./img/game.jpg");
    font-family: "MontSerrat";
}

.container{
    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 10%;
}

header button {
    font-family: "MontSerrat";
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    background-color: #2C3E7F;
    border-radius: 2em;
    padding: 0.3em 1em;
    border: none;
}

header button:hover {
    text-decoration: underline;
}

.middleTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.middleTitle h1 {
    font-size: 3.5em;
    color: white;
    background-color: #2C3E7F;
    border-radius: 2em;
    padding: 0.3em 1em;
}

.descriptionTitle {
    color: white;
    font-size: 2em;
}

.author {
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.author button {
    background-color: #232323;
    max-width: 30em;
    margin: 1em 10em 2em;
    border: 10px solid #2C3E7F;
    overflow: hidden;
    padding: 0.2em 2em;
    border: 2px solid #2C3E7F;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

#gameAccess {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 30%;
}

#gameAccess img {
    width: 25%;
    height: 90%;
    border: 5px solid #2C3E7F;
    border-radius: 0.3em;
    transition: 0.3s;
}


#gameAccess img:hover {
    filter: grayscale(1);
}


.game1 p {
    color: white;
    position: absolute;
}

/* Full-width input fields */
input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border: 1px solid white;
    background-color: #232323;
    color: white;
    font-family: "MontSerrat";
  }
  
  /* Set a style for all buttons */
  form button {
    background-color: #2C3E7F;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family: "MontSerrat";
  }
  
  button:hover {
    opacity: 0.8;
  }

  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    margin-left: 1em;
    margin-top: 1em;
    border-radius: 1em;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }

 .avatar {
    color: white;
    font-weight: bold;
 }

  .containerForm {
    background-color: #232323;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #232323;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    border-radius: 1em;
    height: 70%;
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: white;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  .label {
      color: white;
      margin-left: 0.5em;
  }

  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }

  ::placeholder {
      color: white;
  }