body {
    margin: 0;
    padding: 0;
    background-image: url("./img/game.jpg");
    font-family: "MontSerrat";
}

header {
    display: flex;
    flex-direction: row;
    padding: 1em;
}

header .header_right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

header a {
    margin: 0 1em;;
    padding: 0.2em 2em;
    text-decoration: none;
    color: white;
    font-size: 1.2em;
    background-color: #2C3E7F;
    border-radius: 2em;
}

header a:hover {
    text-decoration: underline;
}


